@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-border {
    0% {
      border-color: rgba(0, 0, 0, 0);
    }
    50% {
      border-color: rgba(0, 0, 0, 0.6);
    }
    100% {
      border-color: rgba(0, 0, 0, 0);
    }
  /* Add this CSS to your global stylesheet or relevant CSS module */
  }
.slide-in {
  animation: slideIn 0.5s forwards;
}

.slide-out {
  animation: slideOut 0.5s forwards;
}


